body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.divider {
    height: 2px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(0, 0, 0, 0.5), rgba(255,255,255,0));
    border-radius: 999px;
}

.badge-online {
    background: linear-gradient(87deg, #2dce89 0, #10BC69 100%);
    color: white;
}

.badge-offline {
    background: linear-gradient(87deg, #627594 0, #8898aa 100%);
    color: white;
}

.card-rounded {
    border-radius: 1rem;
}

.page-link {
    color: #10BC69;
}

.page-link:hover {
    background-color: #10BC69;
    color: white;
}

.page-item.active .page-link {
    background-color: #10BC69;
    border-color: #10BC69;
}

.swal2-popup.float-style {
    animation: float 2s ease-in-out infinite;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.green-box {
    background-color: #10BC69;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    animation: float 2s ease-in-out infinite;
}

.btn-move {
    animation: float 2s ease-in-out infinite;
}

.form-label {
    font-weight: 600;
}
.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(67, 114, 76, 0.25);
}
.range-value {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.btn-dark {
    background-color: #111;
    border: none;
}

/* Reset bawaan agar background bisa tampil penuh */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #e5e5e5; /* fallback */
  outline: none;
  padding: 0;
  margin: 0;
}

/* WebKit (Chrome, Edge, Safari) */
input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
  background: transparent; /* biar warna dari JS masuk */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #2563eb; /* biru */
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -4px; /* center thumb di track */
  cursor: pointer;
}

/* Firefox */
input[type=range]::-moz-range-track {
  height: 10px;
  border-radius: 5px;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #2563eb;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
